body {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    background-color: aqua;
}

p {
    font-size: 20px;
}

button {
    background-color: #ff5361;
    font-family: sans-serif;
    border-radius: 50px;
    font-size: 25px;
    outline: none;
    cursor: pointer;
    width: 200px;
    height: 50px;
}